<div class="list-tasks">
  <table class="table">
    <thead>
    <tr>
      <th>
        id
      </th>
      <th>
        Name
      </th>
      <th>
        Created by
      </th>
      <th>
        isComplete?
      </th>
      <th>
        Delete
      </th>
    </tr>
    </thead>
    <tbody>
    {{#each @tasks as |task|}}
      <Tasks::TaskItem @task={{task}} @deleteTask={{@deleteTask}} @updateTask={{@updateTask}} />
    {{/each}}
    </tbody>
  </table>
</div>