<div class="create-task-container">
  <Tasks::CreateTask @createTask={{action "createTask"}} />
</div>
<div class="tasks-container">
  <p> These are the list of tasks, you need to complete</p>
  <Tasks::ListTasks @tasks={{this.model}}
                    @deleteTask={{action "deleteTask"}}
                    @updateTask={{action "updateTask"}}
  />
</div>